body {
  margin: 0;
  padding: 0;
  width: auto;
  height: auto;
  overflow-x: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
  background-color: #ebebeb;
}

::-webkit-scrollbar {
  display: none;
}

.App {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  text-align: center;
  font-weight: 300;
  font-family: 'Noto Sans TC', sans-serif;
}
