.note-page {
  padding: 10px 20px;
}

.note-page .title {
  padding: 5px;
  font-size: 48px;
  font-weight: 400;
  max-width: 100%;
  overflow-x: hidden;
  text-overflow: ellipsis;
}

.note-page .tricky-space {
  min-width: 1px;
}
